In [ ]:
import numpy as np
# Creating a dataset with 15 students and 5 attributes
data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])

# Printing the dataset with student labels
print("Student\tHeight\tWeight\tAge\tAvg Grade\tCourses")
for index, student in enumerate(data):
    print(f"Student {index + 1}\t{student[0]}\t{student[1]}\t{student[2]}\t{student[3]}\t\t{student[4]}")

Student	Height	Weight	Age	Avg Grade	Courses
Student 1	170	65	19	85		5
Student 2	180	75	20	90		6
Student 3	160	55	18	80		4
Student 4	175	70	21	88		7
Student 5	155	50	19	82		5
Student 6	165	62	22	89		6
Student 7	178	80	23	91		7
Student 8	162	58	20	78		3
Student 9	172	68	19	86		5
Student 10	169	66	20	84		4
Student 11	171	64	22	87		6
Student 12	177	72	21	90		9
Student 13	174	76	24	88		8
Student 14	158	52	18	75		3
Student 15	164	63	19	81		4

In [ ]:
heights = data[:, 0]
average_height = np.mean(heights)

print(f"The average height of the students is {average_height:.2f} cm")

The average height of the students is 168.67 cm

In [ ]:
ages = data[:, 2]
oldest_age = np.max(ages)

print(f"The age of the oldest student is {oldest_age}.")

The age of the oldest student is 24.

In [ ]:
ages

array([19, 20, 18, 21, 19, 22, 23, 20, 19, 20, 22, 21, 24, 18, 19])

In [ ]:
courses = data[:, 4]
index_max_courses = np.argmax(courses)+1

print(f"The index of the student who took the most courses is {index_max_courses}.")

The index of the student who took the most courses is 12.

In [7]:
average_grades = data[:, 3]
num_students_above_85 = np.sum(average_grades > 85)

print(f"The number of students with an average grade above 85 is {num_students_above_85}.")

The number of students with an average grade above 85 is 8.

In [8]:
ages = data[:, 2]
average_grades = data[:, 3]

ratios = ages / average_grades

print("The ratio of each student's age to their average grade is:")
for index, ratio in enumerate(ratios):
    print(f"Student {index + 1}: {ratio:.2f}")

The ratio of each student's age to their average grade is:
Student 1: 0.22
Student 2: 0.22
Student 3: 0.23
Student 4: 0.24
Student 5: 0.23
Student 6: 0.25
Student 7: 0.25
Student 8: 0.26
Student 9: 0.22
Student 10: 0.24
Student 11: 0.25
Student 12: 0.23
Student 13: 0.27
Student 14: 0.24
Student 15: 0.23

2nd question

In [9]:
import pandas as pd

data = [
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
]


columns = ['Height', 'Weight', 'Age', 'Avg_Grade', 'Courses']

df = pd.DataFrame(data, columns=columns)

print(df)

    Height  Weight  Age  Avg_Grade  Courses
0      170      65   19         85        5
1      180      75   20         90        6
2      160      55   18         80        4
3      175      70   21         88        7
4      155      50   19         82        5
5      165      62   22         89        6
6      178      80   23         91        7
7      162      58   20         78        3
8      172      68   19         86        5
9      169      66   20         84        4
10     171      64   22         87        6
11     177      72   21         90        9
12     174      76   24         88        8
13     158      52   18         75        3
14     164      63   19         81        4

In [10]:
print(df.describe())

           Height     Weight        Age  Avg_Grade    Courses
count   15.000000  15.000000  15.000000  15.000000  15.000000
mean   168.666667  65.066667  20.333333  84.933333   5.466667
std      7.687343   8.811248   1.799471   4.817626   1.767430
min    155.000000  50.000000  18.000000  75.000000   3.000000
25%    163.000000  60.000000  19.000000  81.500000   4.000000
50%    170.000000  65.000000  20.000000  86.000000   5.000000
75%    174.500000  71.000000  21.500000  88.500000   6.500000
max    180.000000  80.000000  24.000000  91.000000   9.000000

In [11]:
age_counts = df['Age'].value_counts().sort_index()

print(age_counts)

Age
18    2
19    4
20    3
21    2
22    2
23    1
24    1
Name: count, dtype: int64

In [13]:
# Filter based on age
students_greater_than_20_years = df[df['Age'] > 20]
print(students_greater_than_20_years)

    Height  Weight  Age  Avg_Grade  Courses
3      175      70   21         88        7
5      165      62   22         89        6
6      178      80   23         91        7
10     171      64   22         87        6
11     177      72   21         90        9
12     174      76   24         88        8

In [14]:
#Filter on course and avg grade
filter2 = df[(df['Courses'] > 5) & (df['Avg_Grade'] > 85)]

print(filter2)

    Height  Weight  Age  Avg_Grade  Courses
1      180      75   20         90        6
3      175      70   21         88        7
5      165      62   22         89        6
6      178      80   23         91        7
10     171      64   22         87        6
11     177      72   21         90        9
12     174      76   24         88        8

In [15]:
age_group = df.groupby('Age')['Avg_Grade'].mean()
print(age_group)

Age
18    77.5
19    83.5
20    84.0
21    89.0
22    88.0
23    91.0
24    88.0
Name: Avg_Grade, dtype: float64